*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
.upperbg{
    background-image: url("netflix_assets/bg.jpg");
    height: 80vh;
    position: relative;
    z-index: 5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000,100vw);
}
.outer{
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top:0;
}
nav{
    display: flex;
    width: 65vw;
    margin: auto;
    justify-content:space-between;
    align-items: center;
}
nav img{
    z-index: 10;
    width:110px;
    height:110px;
    padding:0px;
    margin: 0px;
}
.buttons select{
    position: relative;
    z-index: 10;
    padding: 5px;
    background-color: black;
    color: white;
}
.buttons button{
    position: relative;
    z-index: 10;
    background-color: red;
    color: white;
    padding: 5px;
}
.upperbody{
    display: flex;
    /* background-color: white; */
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 120px;
}
.high{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    padding: 10px;
}
.medium{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
.low{
    font-size:15px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
.placeholder{
    padding: 10px;
}
.placeholder input{
    width: 300px;
    background-color: black;
    padding: 10px;
    color: white;
}
.placeholder button{
    background-color: red;
    color: white;
    padding: 10px;
}
.firsec{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
}
.first{
    display:flex;
    padding-top: 150px;
    justify-content: center;
    max-width: 95vw;
    margin: auto;
    height:15vw;
}
.firsec :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}
.firsec :nth-child(2){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.firsec :nth-child(3){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.first .struct img{
    width: 430px;
    height: 350px;
    position: relative;
    top: -93px;
    left: 20px;
    z-index: 10;
}
.first .struct video{
    width: 350px;
    height: 300px;
    position: relative;
    top:-430px;
    right: -64px;
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secsec{
    display: flex;
    flex-direction: column;
    color: white;
}
.struct1 img{
    height: 400px;
    width: 500px;
}
.secsec :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}
.secsec :nth-child(2){
    font-size: 40px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}
.secsec :nth-child(3){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.secsec :nth-child(4){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.third{
    display:flex;
    padding-top: 150px;
    justify-content: center;
    max-width: 95vw;
    margin: auto;
    height:15vw;
}
.thisec{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}
.thisec :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}
.thisec :nth-child(2){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.thisec :nth-child(3){
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.third .struct3 img{
    width: 430px;
    height: 350px;
    position: relative;
    top: -93px;
    left: 20px;
    z-index: 10;
}
.third .struct3 video{
    width: 350px;
    height: 300px;
    position: relative;
    top:-430px;
    right: -64px;
}